:root {
    --main-color:#212121;
    --second-color: #2196F3;
}
.header-item :hover, .header-item :focus {
    color: var(--second-color)
}
.contact-list :hover {
    color: var(--second-color)
}
.adress-list :hover, .adress-list :focus {
    color:var(--second-color)
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--main-color);
}
a {
    text-decoration: none;
    color: currentColor; 
}
.link {
    text-decoration: none;
}
.list {
    text-decoration: none;
}

.header-logo {
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-style: normal;
}
.logo-web {
    color: var(--second-color);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: calc(31 / 26);
}
.header-item{
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color);
}
.header-item-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
}
.header-link-studio {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}
.contact-list-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--second-color);
}
.contact-list-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

/*Index*/
.two-part {
    background: #2F303A;
}

.main-decision {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-button {
    font-family: 'Roboto';
    background:  var(--second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;
}

.section-list {
    background: #FFFFFF;
}
.section-item-first {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.section-item-second {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.section-two {
    background-color: #FFFFFF;
}
.section-doing {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background-color: #FFFFFF;
}
.section-doing-list {
    background-color: #FFFFFF;
}

.section-three {
    background: #F5F4FA;
}

.section-team {
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.section-team-img {
    border-radius: 0px;
}

.section-team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.section-team-who {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

/*Portfolio*/
.mail-list {
    font-family: 'Roboto';
    cursor: pointer;
}

.main-item-button {
    background: #F5F4FA;
    border-radius: 4px;
}

.main-item-button-all {
    background: var(--second-color);
}

.section-option-list {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.option-item-name {
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.option-item-what {
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    background: #2F303A;
}

.footer-logo {
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-style: normal;
}
.footer-logo-web {
    color:var(--second-color);
}
.footer-logo-studio {
    color: rgba(255, 255, 255, 1);
}
.adress-list {
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}
.adress-item-map {
    color: #FFFFFF;
}
.adress-item-mail{
    color: rgba(255, 255, 255, 0.6);;
}
.adress-item-tel {
    color: rgba(255, 255, 255, 0.6);;
}